[2015-08-18 12:05] mpickering opened #1 "Improve perform when using --pos"
It is painful how slow this is.

[2015-08-18 12:05] mpickering opened #2 "Remove hlint dependency from tests"

[2015-08-24 09:40] mpickering opened #3 "Eta reduce hint drops local binds."

[2015-10-05 13:07] niteria opened #5 "Applying "Use &&" leaves a comma"
Thank you for the awesome tool! Combined with HLint it's really powerful.

Repro.hs:
[code]

The suggestion:

[code]
Result (~/local/hlint/dist/build/hlint/hlint --refactor --with-refactor=$HOME/local/apply-refact/dist/build/refactor/refactor ~/Repro.hs):

[code]

[2015-10-05 13:26] niteria opened #6 "a = -b/c round-trips to a =b/c"
[code]

[2015-10-05 13:33] mpickering commented on #6
Thanks, I am moving this issue to the `ghc-exactprint` issue tracker.

[2015-10-05 13:36] mpickering commented on #5
This is an unfortunate consequence of how the annotations are arranged in GHC. I will have to think carefully how to fix it so things continue to work in the general case.

[2015-10-05 13:38] niteria opened #7 "uncurry (.=) p HLint suggestion turns into uncurry .= p"
[code]

[2015-10-05 13:39] niteria commented on #6
Thanks!

[2015-10-05 13:41] mpickering commented on #6
It actually seems to work properly with `ghc-exactprint` so I will leave it here.

[2015-10-05 14:07] mpickering commented on #6
OK, this is a bug in the `applyFixities` function if someone gets to this before me.

[2015-10-05 14:08] mpickering commented on #7
Will have to look at this closely. IIRC, difficult to fix as the HSE and GHC representations are a bit different.

[2015-10-09 01:15] xich opened #9 "InsertComment"
Does the `InsertComment` refactoring work? It requires a `SrcSpan` and I'm trying to figure out how to calculate that. Should it be a zero length span at the right line and column?

When I tried to use it, I got an error from `findGen`, which looks like it is trying to find an expression for replacement. Or do I just need to find an expression to attach the comment to? (It vaguely looks like this

[2015-10-09 06:30] mpickering commented on #9
To answer your question directly, you need to provide the `SrcSpan` of the expression to attach the comment to. For two reasons,

1. The only way to insert comments is by attaching them to something. (and placing them in the annotations map)
2. The `SrcSpan` might not be the actual location of the expression, it is used as a key so we can continue to refer to the same expression as it moves around

[2015-10-14 19:12] xich opened #10 "Stackage"
Would you consider adding apply-refact to stackage? I see that refact itself is in there.

[2015-10-14 22:29] mpickering commented on #10
Yes, but not until a new version of hlint is released (which is waiting on a new version of haskell-src-exts) I also need to fix the tests so that they don't call out to hlint.

[2015-10-15 20:34] mpickering commented on #6
Fixed.. for now. I'm not convinced my solution is very robust so please report back if there are any more problems with this.

[2015-10-15 20:34] mpickering commented on #5
Much easier to fix than I thought.

[2015-10-15 20:34] #5 closed

[2015-10-15 20:34] #6 closed

[2015-10-15 20:34] #9 closed

[2015-10-15 21:30] mpickering commented on #7
I think this is where the problems start. https://github.com/ndmitchell/hlint/blob/master/src/Hint/Match.hs#L188

I don't think this will be easy to fix like I suspected in my first message. Will look a bit more when I have some more time.

[2015-10-18 18:17] niteria commented on #5
Thank you!

2015-10-15 21:34 GMT+01:00 Matthew Pickering <notifications@github.com>:

[2015-11-07 11:15] phadej opened #13 "Language pragmas aren't picked if there are comments before them"
Minimal example:
[code]

[code]

[2015-11-07 11:19] alanz commented on #13
This is probably related to https://ghc.haskell.org/trac/ghc/ticket/10942

I am not sure if the workaround mentioned in that ticket is in the chain that apply-refact uses yet

[2015-11-07 11:20] mpickering commented on #13
Yes, seems like a bug in GHC's parser.

On Sat, Nov 7, 2015 at 11:19 AM, Alan Zimmerman <notifications@github.com>
wrote:

[2015-11-07 11:31] phadej opened #14 "Identity refactoring changes the newlines"
If I have `dos` newlines file, it will be reformatted with `unix` newlines.

[2015-11-07 11:39] phadej opened #15 "Refactoring may introduce not imported name"
[code]

is refactored into

[code]

[2015-11-07 11:40] mpickering commented on #13
On another note, I should really improve that error message.

[2015-11-19 00:55] mpickering commented on #14
Don't think there is really anything to be done here. There isn't enough information to decide which ones are originally used. The same thing happens for tabs and trailing whitespace, tabs are converted to spaces and trailing whitespace is dropped.

[2015-11-19 05:03] phadej commented on #14
How's about: if it cannot be guessed, then could it be configurable?

[2015-11-19 06:09] alanz commented on #14
Agree

[2015-11-19 23:00] mpickering commented on #13
https://github.com/alanz/ghc-exactprint/pull/32

[2015-11-21 20:03] #13 closed

[2015-11-21 20:11] #2 closed

[2015-11-21 20:11] mpickering commented on #3
For now it has been disabled in Hlint.

[2015-11-21 20:12] mpickering commented on #15
Yep, although this is what hlint suggests. It might be worth adding a flag to hlint which only suggests things which will certainly be in scope to avoid situations like this.

[2015-11-22 09:37] #10 closed

[2015-11-22 09:37] mpickering commented on #10
Done, submitted to hackage.

[2015-11-23 06:09] xich commented on #10
Thanks!

[2016-01-21 20:31] mrBliss opened #20 "Refactor option --pos does not work with warning location"
When calling `hlint Bug.hs` with `Bug.hs` containing:
[code]
I get:
[code]

Fine, that's what I expected. Now lets apply the hint with `--refactor` but also with the `--pos` suggested by the warning.
[code]
The hint is not applied! Only with `--pos` 2,13-20 do the brackets disappear.
I don't think the location of the warning is wrong, `--pos` should work with 2,9, as it is the start of the hint.

[2016-01-21 20:34] mpickering commented on #20
But the problem isn't at 2,9. Any other behaviour is confusing imo.

[2016-01-22 08:54] mrBliss commented on #20
Alright, but consider my use case: I'm writing some elisp code that uses the flycheck-hlint checker to easily let the user apply suggested refactorings (using `hlint-refactor.el`). All this on the fly, without having to invoke a <kbd>M-x</kbd> command (just <kbd>C-c C-y</kbd>) or switch buffers. So my code uses the hlint warning position as `--pos` argument. If this warning position is not the one

[2016-01-24 13:45] sinelaw opened #21 "-i fails with 'openFile: resource busy (file is locked)'"
Example run:

    # hlint Foo.hs --serialise | refactor Foo.hs -i
    Applying 1 hints
    refactor: Foo.hs: openFile: resource busy (file is locked)

My machine is Linux Mint / Ubuntu 14.04, ghc 7.10.2

[2016-01-25 12:07] mpickering commented on #21
I can't reproduce this on my machine.

[2016-01-25 12:09] mpickering commented on #20
Maybe, but it is possible to get the correct source locations by calling `hlint --serialise`.

In fact, this is how the integration with hlint currently works, the output of that command is piped into the executable provided by the package and the hints then applied.

Seems like that would be more suitable for your purpose? The problem with the `--span` option is that if there are overlapping hint

[2016-01-25 12:15] mrBliss commented on #20
Ah, I didn't know about `hlint --serialise`. That suits my purpose, thanks!

[2016-01-25 12:15] #20 closed

[2016-07-11 18:20] niteria opened #22 "Update to work with GHC 8"
I've tried lifting the constraint on `base` and I got this:

[code]

[2016-07-13 16:12] niteria commented on #22
I've tried to fix it myself, but I broke `identSub` in the process: https://github.com/niteria/apply-refact/commit/e35c0e96b0e44465d5c74b5ce4968a9713009aa5

I don't quite understand why it needed to find a `VarPat`, so I'm giving up on this for now.

[2016-09-11 17:58] niteria commented on #22
I think this is done. Thank you!

[2016-09-11 17:58] #22 closed

[2016-10-25 17:16] gilbertoalexsantos opened #24 "Error building apply-refact-0.3.0.0 in macOS"
Hi guys, I can't install the apply-refact package.

System: macOS Sierra
Cabal version: 1.24.0.0
GHC version: 8.0.1

I've installed the Haskell Platform from: https://www.haskell.org/platform/mac.html.
I've added $HOME/Library/Haskell/bin and $HOME/.cabal/bin to the path.
Packages that I've installed manually with cabal:

[code]

Full Log Error:
[code]

[2016-10-25 18:21] mpickering commented on #24
Fixed by adding an upper bound on optparse-applicative.

[2016-10-25 18:21] #24 closed

[2016-11-09 11:25] rikvdkleij opened #25 "Applying eta reduce does not work"
For example:
`foo x = (+1) x`

Hint gives suggestion to eta reduce to:
`foo = (+1)`

`stack exec -- hlint Foo.hs --refactor --refactor-options="--pos 30,1"`
returns no changes.

[2016-11-09 11:38] mpickering commented on #25
The hint is not implemented. I found it difficult to implement properly and have since stopped working on the project.

[2016-11-09 11:38] #25 closed

[2016-11-09 11:39] mpickering commented on #25
See #3.

[2016-11-09 11:52] rikvdkleij commented on #25
Thanks for quick reply!

I just integrated your tool in IntelliJ-Haskell plugin and it works very nice in general.

Do you mean this project is not maintained anymore? That would be a pity. Or are just eta reduce suggestions not supported?

[2016-11-09 13:36] mpickering commented on #25
I do maintenance but I don't plan to implement the eta-reduce myself at the moment.

[2016-11-11 15:20] mwotton opened #26 "no way to specify out-of-band pragmas"
we tend to specify pragmas in stack.yaml and .ghci - would be nice if refactor could take account of one or the other.

[2017-06-02 13:48] jgm opened #27 "extra newlines at end of file"
When I use `hlint --refactor --refactor-options='-i -s'`, I find that extra newlines get introduced at the ends of my files.

Though I'm not sure, I suspect the reason is the use of `getContents >>= hPutStrLn` here:
https://github.com/mpickering/apply-refact/blob/master/src/Main.hs#L151
This will insert one more newline than was contained in the original contents.

[2017-06-26 21:19] functionallyliterate opened #29 "Stack Installation Error: Plan Construction Fails with GHC 8.0.2"
Hi,
Forgive my ignorance, I am new to Haskell, but I am having trouble installing apply-refact with stack. I am using GHC 8.0.2 and receive the following message during installation:
![apply_refact](https://user-images.githubusercontent.com/8809492/27560735-559efc7e-5a93-11e7-8d29-26e43c9e45ae.png)

Any assistance would be great, I am trying to install apply-refact as a dependency of using the spa

[2017-06-27 09:30] mpickering commented on #29
I don't know what stack is doing but you need to install `apply-refact-0.3.0.1` as that is the version which works for `ghc-8.0.2`. `apply-refact-0.4.0.0` is for `ghc-8.2.0`.

[2017-06-27 09:30] #29 closed

[2017-06-27 14:23] functionallyliterate commented on #29
That worked! Thanks for the assistance.

[2017-06-27 14:33] gtmacdonald opened #30 "GHC 8.20 doesn't exist?"
seems you meant ghc 8.0.2 instead of 8.20? I'm having difficulties building with stack.

[2017-06-27 14:44] mpickering commented on #30
See #29, I don't know why stack is not finding an install plan. You need to install `0.3.0.1` if you're using `ghc-8.0.2`.

[2017-06-27 14:44] #30 closed

[2017-06-27 15:23] gtmacdonald commented on #30
ok, thanks!

[2017-07-02 18:57] ahri opened #31 "Installation problem: apply-refract requires GHC 8.2 but stack nightly resolver only supports 8.0.2"
$ stack --resolver=nightly install apply-refact
    Selected resolver: nightly-2017-06-30

    Error: While constructing the build plan, the following exceptions were encountered:

    In the dependencies for apply-refact-0.4.0.0:
        ghc-8.0.2 must match >=8.2.0 && <8.3

    Plan construction failed.

[2017-07-02 19:04] mpickering commented on #31
See #30 #29, you need to use `apply-refact-0.3.0.1` with 8.0.2 as the version bounds suggest.

[2017-07-02 19:04] #31 closed

[2017-07-02 21:23] ahri commented on #31
Thanks, I should have searched.

Might it not be helpful to silly newbies like myself if your installation instuructions read something like:

For GHC 8.0.2: `stack install apply-refact-0.3.0.1`
For GHC 8.2: `stack install apply-refact-0.4.0.0`

Just to avoid these issues, I mean?

[2018-01-26 09:11] txsmith opened #33 "Parse error on LambdaCase"
When I try to apply hlint suggestions to a file that contains `\case -> ...` expressions, apply-refact throws a parser error when LambdaCase is not in a `LANGUAGE` pragma inside the source file:

[code]

**Steps to reproduce:**

- `stack new test simple && cd test`
- Edit `src/Main.hs` to:
[code]
- Run `refactor src/Main.hs` and observe the error mentioned above.
- Now add `{-# LANGUAGE LambdaCase

[2018-03-24 01:24] Darkas opened #34 "Imports get removed when they have unnecessary hiding statements"
When hlint finds an import that has an unnecessary hiding statement, apply-refact removes the entire statement instead of just removing the unnecessary hidings. For example, in the following code apply-refact removes the entire line which makes the code fail to compile.

[code]

[2018-03-29 19:04] TOTBWF commented on #33
I'm experiencing this as well, it looks like this is an issue with [ghc-exactprint](https://github.com/alanz/ghc-exactprint)

[2018-08-22 15:57] eborden commented on #26
Just ran in to this. Another option is to follow the example of other tools like `hlint` and `brittany` and provide a `yaml` file for various configurations.

[2018-08-22 16:03] mpickering commented on #26
Patch accepted but I'm not intended to implement it myself.

[2018-11-06 07:41] creichert commented on #33
I hit this as well running automated refactors with hlint when using default-extensions in a cabal file.

[2018-11-10 09:53] alanz opened #36 "Please put version 0.6.0.0 on hackage"
Otherwise my submodule management in hie does not work.

[2018-11-11 17:46] alanz commented on #36
Thanks

[2018-11-11 17:46] #36 closed

[2018-11-26 07:09] thomasjm opened #37 "Parse error on unspecified QuasiQuotes"
I like to omit the `{-# LANGUAGE QuasiQuotes #-}` section at the top of my files, and instead enable QuasiQuotes universally by putting it in `default-extensions`.

But when I try to use `hlint --refactor` on such files, I get `refactor: (RealSrcSpan SrcSpanOneLine ...,"parse error on input \8216]\8217")` on lines that contain QuasiQuotes.

I notice that `hlint` itself can accept an `-XQuasiQuotes

[2019-03-23 10:16] andrewufrank opened #38 "`stack.yaml` in error (3.12 in stead of 13.12)"

[2019-03-24 13:14] mpickering commented on #38
I think `3.12` is probably right as that fits in with around when I made the project in 2015.

[2019-04-12 11:04] SarthakKumar1997 opened #39 "Apply-Refact not applying HLint suggestions."
I recently added some refactorings to some HLint suggestions (https://github.com/ndmitchell/hlint/pull/614/files). The suggestions were related to list comprehensions, and function names adhering to the camelCase naming convention.

In the case of camelCase, while HLint provides the right refactorings and apply-refact, using the `-s` refactor option, detects that a change is available to be made,

[2019-05-05 10:26] expipiplus1 opened #40 "removing brackets on patterns may generate invalid code"
Removing the redundant brackets from this pattern: `a = \(~x) -> x` produces `a = \~x -> x` which is not valid, there must be a space between `\` and `~`

[2019-05-05 10:27] expipiplus1 commented on #40
(Thanks for the super tool btw!)

[2019-05-09 07:46] #37 closed

[2019-06-06 20:58] sjakobi opened #48 "Strange CPP expansions"
Given https://gitlab.haskell.org/ghc/ghc/blob/ba4e3934abc82e0ba2bec51842315819910d1018/libraries/integer-simple/GHC/Integer/Type.hs

and a file `refact.txt` with the contents

[code]

the command

[code]

produces the following diff:

[code]

[code]

[2019-06-06 21:04] mpickering commented on #48
If you use complicated CPP then you're on your own. It's not supported.

[2019-06-06 21:04] #48 closed

[2019-08-28 17:33] InBetweenNames opened #49 "GHC 8.8 support"
GHC 8.8.1 is out now -- any idea how to get apply-refact to build with it?  It seems like some internals might have changed.

[2019-08-28 18:47] alanz commented on #49
FYI I just published ghc-exactprint 0.6.2 which supports GHC 8.8.1 (rc).

[2019-10-28 19:30] Avi-D-coder commented on #49
@mpickering can you push a new version to hackage now that it compiles on 8.8

[2020-02-25 16:21] expipiplus1 opened #52 "apply-refact ate my imports"
This might be a problem with hlint, without learning about the format of the serialized representation it's hard to know.

[code]

`hlint Foo.hs --refactor`, where did `baz` go?
[code]

`hlint Foo.hs`, correct
[code]

`hlint Foo.hs --serialise`
[code]

[2020-03-28 05:10] ndmitchell opened #53 "Compilation error"
On CI https://travis-ci.org/github/ndmitchell/hlint/jobs/667865822 I'm getting:

[code]

Is the issue a change to ghc-exactprint-0.6.3?

[2020-04-13 10:03] #53 closed

[2020-04-16 15:59] chshersh opened #55 "GHC 8.10 Support"
When trying to build `apply-refact` with GHC-8.10, I see the following error:

[code]

[2020-04-16 16:12] adamse commented on #55
Looks like something https://hackage.haskell.org/package/ghc-api-compat would help with

[2020-04-17 17:36] mpickering commented on #55
Done, the package didn't help at all as it is only for 8.6 compat.

[2020-04-17 17:36] #55 closed

[2020-04-17 17:36] #49 closed

[2020-04-17 18:08] adamse commented on #55
It does have some support for 8.10 according to the cabal file: https://hackage.haskell.org/package/ghc-api-compat-8.6/ghc-api-compat.cabal ... not sure how the version name was picked though, perhaps meaning it exports a 8.6 like api?

[2020-04-20 13:39] andys8 opened #56 "Installation with nix package manager fails"
I noticed the installation with `nix-env` is currently failing. The cause seems to be the constraint, that `ghc` has to be `>= 8.10.1` and I think this is currently not the case with `nix`.

It is likely that this issue has to be fixed in the [nixpkgs](https://github.com/NixOS/nixpkgs) repository instead, or forcing the incompatibility might even be intended. I wanted to notify you, that this is c

[2020-04-20 13:59] mpickering commented on #56
Each version of apply-refact only supports one GHC version. So if you want to use it with 8.8 then use 0.7, 8.6 then use 0.6 and so on. 0.8 only supports GHC 8.10.

The functionality of the library has not significantly changed since earlier versions so it is fine to use older versions. The correct thing would be to patch nixpkgs to force it to use the right version for relevant GHC version.

[2020-04-20 13:59] #56 closed

[2020-04-20 14:08] andys8 commented on #56
Thanks for clarification :)

Has probably to be overwritten in that file. Not sure why the `extra-dep` is already out of sync.

https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/haskell-modules/configuration-hackage2nix.yaml#L2360

[2020-05-11 18:31] arybczak opened #57 "Use ghc-lib to support a range of GHC versions"
Did you try to make it work?

Simply changing ghc dependency to ghc-lib doesn't work because of ghc-exactprint type mismatches, so presumably ghc-exactprint would also need to use ghc-lib.

[2020-06-01 03:42] zliu41 opened #58 "Command line extensions should not override LANGUAGE pragmas"
[code]

[code]

This should not fail - although the command line argument has `-X StarIsType`, the code has the NoStarIsType pragma, which should take precedence.

[2020-06-06 01:57] zliu41 commented on #57
Yeah, I don't see how apply-refact can migrate to ghc-lib unless ghc-exactprint migrates first.

[2020-06-06 05:38] zliu41 commented on #52
Thanks for reporting! From the output of `--serialise` this looks like an HLint bug. The second `Replace` shouldn't be there.

[2020-06-06 07:24] zliu41 commented on #39
Hmm, this one looks tricky - it seems there are bugs in both HLint and apply-refact related to this.

Besides, the current approach relies on `unsafePrettyPrint` to print the entire `LHsDecl`:

https://github.com/ndmitchell/hlint/blob/6657cbc299de19c26114ddfdbb706cdfa0019eb8/src/Hint/Naming.hs#L73

which can be quite large, e.g., the entire function definition. This is undesirable - it's better to

[2020-06-06 14:55] zliu41 commented on #52
Fixed in https://github.com/ndmitchell/hlint/pull/1035.

[2020-06-06 14:55] #52 closed

[2020-06-06 14:58] zliu41 commented on #39
I disabled refactoring for this hint in https://github.com/ndmitchell/hlint/pull/1036.

[2020-06-06 15:08] expipiplus1 commented on #52
Thanks, @zliu41!

[2020-06-10 03:17] #58 closed

[2020-06-11 21:25] zliu41 commented on #7
Fixed in the above PR.

[2020-06-11 21:25] #7 closed

[2020-06-11 21:26] zliu41 commented on #26
HLint now passes pragmas to apply-refact via `-X`.

[2020-06-11 21:26] #26 closed

[2020-06-11 21:55] zliu41 commented on #33
This is fixed in https://github.com/ndmitchell/hlint/pull/1027. HLint now passes extensions to apply-refact, which means HLint and apply-refact use the same extensions, unless you enable or disable additional extensions using the `--refactor-options` flag.

[2020-06-11 21:55] #33 closed

[2020-06-12 02:17] zliu41 commented on #15
Related: https://github.com/ndmitchell/hlint/issues/1001
Going to close this, since this is purely an HLint issue.

[2020-06-12 02:17] #15 closed

[2020-06-12 02:29] zliu41 commented on #40
Are you saying HLint suggests removing the brackets, or HLint doesn't but apply-refact still removes the brackets? I know this is more than a year old but neither seems to be the case now. Please feel free to reopen otherwise.

[2020-06-12 02:29] #40 closed

[2020-06-12 04:16] expipiplus1 commented on #40
hmm, can't remember. Glad that it's been corrected though!

[2020-06-12 05:06] zliu41 opened #72 "Release apply-refact 0.8.1.0"
@mpickering I fixed some bugs that I was aware of, and I'm ready to release 0.8.1.0. The main changes are:

  * #68, support GHC 8.6
  * #63, support GHC 8.8
  * #64, add LANGUAGE pragmas to DynFlag
  * #62, fix a bug where "y = f(x)" is refactored into "y = fx"
  * #61, fix a bug where "x < -2 * 3" is printed as "x < 2 * 3"
  * #51, fix a bug where [1,2..5] is printed as [12..5]
  * #59, do not p

[2020-06-19 21:04] jneira opened #74 "Failed to build 0.7.0.0 due to ghc-exactprint-0.6.3"
* `0.7`is needed to build with ghc < 8.10
* There is no upper bound over ghc-exactprint
* `cabal build hls-ghc-lib -w ghc-8.8.3`:
[code]
* `cabal build hls-ghc-lib -w ghc-8.8.3 --constraint="ghc-exactprint == 0.6.2"` builds it succesfully
* Maybe adding a cabal revision with the upper bound would fix the issue

[2020-06-21 07:08] zliu41 commented on #74
Thanks for reporting the problem. Version 0.8.1.0 is ready to be released (#72) which will support GHC 8.6, 8.8 and 8.10. I don't yet have Hackage permission for this package. @mpickering @fendor do you mind adding me to the maintainer group?

[2020-06-25 15:24] zliu41 commented on #74
Published 0.8.1.0 and 0.7.0.0 r1.

[2020-06-25 15:24] #74 closed

[2020-06-25 15:24] zliu41 commented on #72
Published 0.8.1.0.

[2020-06-25 15:24] #72 closed

[2020-06-25 18:13] jneira commented on #74
@zliu41 great work! will the `0.7.0.0 r1' release be published in hackage as a new minor version or a hackage revision?

[2020-06-25 18:50] zliu41 commented on #74
@jneira Thanks. It's a metadata revision.

[2020-07-25 15:20] zliu41 commented on #3
Eta reduce is supported in 0.8.2.0.

[2020-07-25 15:20] #3 closed

[2020-09-12 15:21] ndmitchell commented on #57
ghc-exactprint would definitely need to migrate (or offer the option) first.

If ghc-exactprint and apply-refact were on matching versions of ghc-lib, I'd be slightly tempted to wonder if we could link in apply-refact as a library into HLint.

[2020-09-12 15:22] ndmitchell opened #87 "Windows files are written in CRLF newlines"
Given a file on Windows with LF newlines, when I run it through apply-refact, it comes out with CRLF newlines. It would be better if apply-refact (or maybe ghc-exactprint?) could preserve whatever type of newline I have, in addition to everything else.

[2020-09-12 16:14] pbrisbin opened #88 "Shebangs are stripped if invoked with prefixed paths"
If calling `refactor` with a path argument like `./x`, `../x`, or `/x`, any shebang lines are stripped in the output. If invoked with just `x` or `x/y`, it works. I ran into this through the ALE Vim plugin, which calls HLint, which calls `refactor` with an absolute-path tempfile.

Setup:

[code]

Repro:

[code]

Working fine with `example`:

[code]

Note that it's not a "first line" problem; it's

[2020-09-13 07:05] zliu41 commented on #57
Sounds good; I raised https://github.com/alanz/ghc-exactprint/issues/93.
Not sure how much work it is; I may have some time to work on it, but my time available for open source work over the next few months will be very limited.

[2020-09-14 07:33] #88 closed

[2020-09-16 06:17] zliu41 opened #89 "Backticks are dropped when a substitution var is used as an infix operator."
See https://github.com/ndmitchell/hlint/pull/1131

[2020-09-24 13:46] Profpatsch opened #90 "when -> unless refactor drops parens"
[code]

This happens when the unless refactor is applied. Not sure if related to the TH splice.

Expected result:

[code]

[2020-11-12 09:29] jneira opened #91 "Allow apply refactorings to an already parsed module"
Hi, we added recently hlint support in haskell-language-server, including the apply of refactorings usgins appy-refact, via `applyRefactorings`
The actual integration could be improved if the api would expose a function to apply them to an already parsed module.
Now we have to use a temporary file and ask apply-refact to parse it again:

[code]

As we are using [ghc-lib to parse for ghc < 8.10 and

[2020-11-12 21:09] zliu41 commented on #91
Sounds good, happy to do this.
Does something like `applyRefactorings`, but replacing the `FilePath` argument with
[code]
work for you?

Totally agree. `applyRefactorings` should support passing language extensions.

[2020-11-12 22:54] jneira commented on #91
Many thanks for take care 😃

Sounds good, we already have `ParsedSource(==Located (HsModule GhcPs))` and only will nees `Language.Haskell.GHC.ExactPrint.Anns` (i guess we can get it from ghc `ApiAnns`??)

[2020-11-13 02:09] zliu41 commented on #91
Correct, `Anns` can be obtained from `ApiAnns` via [postParseTransform](https://hackage.haskell.org/package/ghc-exactprint-0.6.3.3/docs/Language-Haskell-GHC-ExactPrint-Parsers.html#v:postParseTransform).

[2020-11-13 21:18] jneira opened #93 "Apply hint: use guards remove comments above"
Hi, [using hls-hlint-plugin an user](https://github.com/haskell/haskell-language-server/issues/597) has detected that apply "use guards" remove comments above the inserted guard:

[code]

Thanks in advance!

[2020-11-13 21:25] jneira opened #94 "Apply hint: eta reduce breaks where block identation"
Hi, using hls-hlint-plugin an user has detected that apply "eta reduce" removes the identation of a where block, making the code throw parser errors

[code]

Thanks in advance.

[2020-11-13 22:00] jneira opened #95 "Apply hint: redundant lambda lambda breaks block identantion"
Hi, [using hls-hlint-plugin](https://github.com/haskell/haskell-language-server/issues/593) an user has detected that apply "redundant lambda" breaks the block identantion.

Same versions that previous issues: #93 and #94

Test cases has been aded by @soiamsoNG: #92

[2020-11-14 07:31] #94 closed

[2020-11-14 07:34] zliu41 commented on #94
Thanks for reporting the bug! It's fixed in #96. If you'd like a release now please let me know; otherwise I'll make a release after closing #91, #93 and #95, hopefully in the new few days.

[2020-11-14 10:54] jneira commented on #94
@zliu41 that was a really prompt response, many thanks
dont worry, i think we could wait to fix all to release

[2020-11-14 21:16] zliu41 commented on #95
Thanks for reporting the bug. This one seems tricky to fix without modifying ghc-exactprint. See https://github.com/alanz/ghc-exactprint/issues/97.

Worst can we can disable refactoring of this hint in HLint.

[2020-11-15 04:07] zliu41 commented on #90
@Profpatsch Sorry for not replying earlier - I somehow just saw this.

I wasn't able to reproduce this with hlint 3.2.1 and apply-refact 0.8.2.0. I tried to refactor a module that contains

[code]

and it worked as expected. IIRC there were some refactoring-related bug fixes in recent HLint versions, so please use the latest version and let me know if you still have this issue.

[2020-11-15 04:28] zliu41 commented on #93
Thanks for the bug report. I opened https://github.com/ndmitchell/hlint/issues/1165 for more discussion.

[2020-11-16 02:18] #89 closed

[2020-11-17 07:31] jneira commented on #91
It is done in #98

[2020-11-18 23:27] zliu41 commented on #91
@jneira It just occurred to me that for this to work, your `Located (HsModule GhcPs)` must be from GHC, not ghc-lib, since that's what ghc-exactprint requires. It seems you are using ghc-lib at least for GHC < 8.10, and if so, this is not going to work for you until ghc-exactprint is migrated to ghc-lib (https://github.com/alanz/ghc-exactprint/issues/93).

I'll fix the other bugs you reported in t

[2020-11-19 05:23] jneira commented on #91
thanks for your great work
I was assuming that i was going to use `ParsedModule` only for ghc-8.10, at least initially, so it would be great to have it, even without ghc-lib support

[2020-11-19 06:10] zliu41 commented on #91
OK, sounds good. I'll put it in then.

[2020-11-20 04:31] zliu41 commented on #91
Merged #100

[2020-11-20 04:31] #91 closed

[2020-11-22 07:53] zliu41 commented on #87
The fix to this should be done in ghc-exactprint, since `parseModule` and `exactPrint` don't round-trip wrt LF vs. CRLF.
I wonder if GHC `ParseResult` contains the newline encoding information, or is it lost? I don't see it in `ParseResult`.
If that information is lost, perhaps we can post-process the output, depending on whether the first newline in the input file is LF or CRLF?

[2020-11-22 08:57] #93 closed

[2020-11-23 04:58] zliu41 commented on #95
I've disabled refactoring for this hint, if the body is an `HsCase`. https://github.com/ndmitchell/hlint/pull/1171
@jneira I can make a release of 0.9.0.0 now. Do you see anything else that needs to be included in the release?

[2020-11-23 06:33] jneira commented on #87
Mmm, ideally ghc-exactprint should preserve the EOL for each line and honour the previous EOL line if each additional line. Nobody sane would mix both line endings but who knows.
Other alternative could be add as a a new parameter all info that may be lost in the actual data, line endings (and encoding?) and apply it to output uniformly, in a new function to keep backwards compatibility. Then appl

[2020-11-23 06:57] zliu41 commented on #87
I agree with

I don't mind adding a new function with an additional parameter, but I guess users rarely want to specify whether they want LF or CRLF. They just want whatever the input file has. So I'd add it only if someone says they need it.

As to encoding, I don't think GHC can even parse any non-UTF-8 encoded source file, so we can safely assume that all source files are UTF-8.

[2020-11-23 07:04] zliu41 commented on #87
Oh, you probably meant that the new function takes the already parsed module as input. In that case adding a new parameter is definitely useful (although ideally, that information should be part of `Anns`).

How about adding it to `applyRefactorings'`? Can you think of other things like this besides LF vs. CRLF?

[2020-11-23 07:37] jneira commented on #87
Well, taking a look to [`System.IO`](https://hackage.haskell.org/package/base-4.14.0.0/docs/System-IO.html) there are three axis in the output settings (for completeness):
* binary vs text encoding: subsumed within the other ones, it will be always text encoding for us.
* encoding: we could assume it always is UTF-8 as ghc only supports it.
* eol: agree adding a paremeter as we have commented here

[2020-11-23 11:10] jneira commented on #95
@zliu41
The unique thing i would like to fix is the hardcoded path to the ghc libdir induced by ghc-exactprint: https://github.com/alanz/ghc-exactprint/issues/96 (although i am not totally sure at 100% that it is the cause)
I am afraid it supposes a non trivial change in ghc-exactprint.

Otoh i have a hls branch that already uses apply-refact master that compiles (but not tested) so the actual api

[2020-11-24 06:50] jneira commented on #95
@zliu41 I am afraid the workaround for the ghc libdir hardcoded path in windows [has become almost unnaceptable](https://github.com/haskell/haskell-language-server/issues/615#issuecomment-731973771). I have to fix it asap and it will suppose changes in `ghc-exactprint` (i'll try to make it backwards compatible to no break other packages) and here.
What do you think in wait to fix #87 and the hardc

[2020-11-24 07:21] zliu41 commented on #95
Yeah, I'd like to fix #87 before a release. And perhaps more importantly, if https://github.com/alanz/ghc-exactprint/issues/96 needs to be fixed, I should wait for that too, because apply-refact calls `ghcWrapper`, so it needs to be changed to whatever the fixed version is.

[2020-12-13 09:44] poscat0x04 opened #102 "The suggestion "Avoid lambda" does not add parenthesis around code blocks when it should"
Sorry that this is not a minimal working example.

## Original code
[code]

## After refactoring
[code]

## The correct code to generate
[code]

I'm using apply-refact from haskell-language-server version 0.6.0.0

[2021-01-12 10:40] jneira commented on #95
@zliu41 hi! i've falmost finished the pr in hls to leverage your nice last changes. However dont know when i will be able to tacke https://github.com/alanz/ghc-exactprint/issues/96. What do you think about make a release with the actual version?
I could use master in the pr but i would prefer to use a released version (no problem if you think is better to wait)

[2021-01-13 06:51] zliu41 commented on #95
@jneira Yeah, I think a release is due. The issue we were discussing before (#87), it seems best to be fixed in ghc-exactprint.

There are two more issues I'd like to take a look to see if they can be easily fixed: https://github.com/ndmitchell/hlint/issues/1179 and https://github.com/alanz/ghc-exactprint/issues/97. But I'll definitely make a release this week.

[2021-01-15 04:48] zliu41 opened #105 "Comments are sometimes not placed at the right position after refactoring"
Reported by @jneira. For instance, `x = ({- comment -}1)` becomes `x ={- comment -} 1`, but it should be `x = {- comment -}1`. See

[2021-01-15 05:32] zliu41 commented on #102
@poscat0x04 Thanks for reporting the bug! This is an HLint bug and is fixed in https://github.com/ndmitchell/hlint/pull/1202.

[2021-01-16 07:12] zliu41 commented on #95
@jneira 0.9.0.0 is out :slightly_smiling_face:

[2021-01-16 17:14] #102 closed

[2021-02-07 16:12] brightly-salty opened #107 "Build failure on GHC 9.0.1 on macOS"
I encountered the following error when running `stack install apply-refact`:
[code]

`ghc -V` returns `The Glorious Glasgow Haskell Compilation System, version 9.0.1`, and `stack --version` returns `Version 2.5.1, Git revision d6ab861544918185236cf826cb2028abb266d6d5 x86_64 hpack-0.33.0`

I am on macOS Big Sur

[2021-02-21 05:17] zliu41 commented on #107
GHC 9.0.1 has just been released and is not yet supported by all libraries apply-refact depends on (e.g., ghc-exactprint). I'll start working on 9.0.1 support once all upstream libraries support it.

[2021-03-29 01:38] anka-213 commented on #107
This was fixed in https://github.com/mpickering/apply-refact/pull/110

[2021-05-19 05:38] jneira opened #112 "Remove redundant parens in class constraint removes only ending one"
* From https://github.com/haskell/haskell-language-server/issues/1844 by @augustss

### Steps to reproduce
Use this file:
[code]
Apply the suggest refactoring to remove redundant parens.

### Expected behaviour
The result should be
[code]

### Actual behaviour
The result is
[code]

[2021-05-20 05:52] zliu41 commented on #112
Thanks for the bug report. Looks like a corner case - this is the only case where brackets are removed from the entire context (`foo :: (Eq a) => ...` doesn't trigger HLint, for example). I'll take a closer look tomorrow.

[2021-05-21 05:36] zliu41 commented on #112
@jneira This is fixed in #113 and I just released 0.9.3.0.

[2021-05-21 05:36] #112 closed

[2021-05-21 06:05] jneira commented on #112
Wow, that was really fast, as always, many thanks and congrats for your work

[2021-05-21 21:18] augustss commented on #112
Thanks!

[2021-11-29 08:27] arybczak commented on #57
Will that be possible with 9.2 now that `ghc-exactprint` was integrated into GHC?

[2021-12-12 19:34] ndmitchell opened #114 "Build failure on GHC 9.2"
HLint is seeing build failures with GHC 9.2 on Windows, Mac and Linux. CC @zliu41 @alanz

https://github.com/ndmitchell/hlint/actions

[2021-12-14 19:57] zliu41 commented on #114
@alanz Could you help me understand how we should go about migrating to the latest version of ghc-exactprint? For example, the `Anns` type is gone, and it doesn't appear to be part of the GHC 9.2.1 API either, so what should be used instead?

[2021-12-15 00:44] alanz commented on #114
I will take a look in the morning

On Tue, 14 Dec 2021, 19:58 Ziyang Liu, ***@***.***> wrote:

[2021-12-15 22:48] alanz commented on #114
My work in progress is in #116 .

[2021-12-24 11:30] andreasabel opened #117 "Missing upper bounds on `ghc` on hackage"
Leaving through the releases of `apply-refact` on hackage, I see no upper bounds on `ghc` starting with release `0.7.0.0`.
This may not reflect buildability correctly, see e.g. #114.
What would be the correct upper bound for the released versions?

[2022-01-02 07:05] zliu41 commented on #117
@andreasabel Thanks for catching this. I've updated the upper bounds of `base` for the latest several versions on Hackage. Since `ghc` versions map 1:1 to `base` versions, will remove bounds on `ghc` in future releases.

[2022-01-04 13:28] andreasabel commented on #117
@zliu41 wrote:

Are you sure about this?  Aren't there two GHCs to consider?
- The GHC you are compiling `apply-refact` with (here, a bound on `base` can be used to restrict compilability---although I do not see why one would restrict this way).
- The GHC library you are using (to parse, print, manipulate Haskell code).  This is the `ghc` package, I suppose.

[2022-01-05 08:03] zliu41 commented on #117
My understanding is that you can't depend on a different version of the GHC library than the GHC compiler version you are using. That is the whole reason why `ghc-lib` exists.

So there's no need to have bounds on both `base` and `ghc`. While I don't have a preference on which one to put the bounds on, almost all Hackage packages have bounds on `base` so I chose `base`.

[2022-01-05 14:44] andreasabel commented on #114
Sample build failure reported in the OP: https://github.com/ndmitchell/hlint/runs/4691040973?check_suite_focus=true#step:8:286

[2022-01-08 01:46] LeventErkok commented on #114
@alanz Any chance this'll get any updates soon? hlint has been stuck on pre-9.2.1 for quite some time now. Thanks!

[2022-01-31 10:23] jneira commented on #95
@zliu41 hi! any progress in this issue? thanks

[2022-02-04 04:13] zliu41 commented on #95
Hi @jneira! I haven't looked at this one since a year ago :smile: . I think this requires some changes to ghc-exactprint, which I'm happy to look into soon, but I don't know how easy it is to fix it so I don't have an ETA.

[2022-03-02 13:00] July541 opened #118 "Unexpected replacement while mixed infix and parenthesis"
For ```x = (Just 3 `elem`) []```, it should result ```x = Just 3 `elem` []```, but now got ```x = Just 3 elem []```.

Here is the substitute param from HLS:
[code]

GHC version: 8.10.7

[2022-03-09 15:46] zliu41 commented on #114
0.10.0.0 has been released.

[2022-03-09 15:46] #114 closed

[2022-03-24 16:53] Aster89 opened #124 "Refactoring of monadic code results in code that is parenthesized erroneously"
The code
[code]
is refactored to
[code]
which is wrong, instead of
[code]
which is correct.

Originally filed the report on [HLS](https://github.com/haskell/haskell-language-server/issues/2791).

[2022-03-26 04:54] zliu41 commented on #124
Thanks for reporting the bug, @Aster89. I believe this should be taken care of on the HLint side, so I opened https://github.com/ndmitchell/hlint/issues/1364.

[2022-03-28 06:45] zliu41 commented on #124
The fix has been merged into HLint master.

[2022-03-28 06:45] #124 closed

[2022-07-06 17:03] feature-not-a-bug opened #125 "Missing brackets when replacing flip(:)"
I discovered this while getting haskell-language-server set up. https://github.com/haskell/haskell-language-server/issues/3020

Original file
[code]

Refactored version:
[code]

The expected code would be:
[code]

Using `apply-refact-0.10.0.0` and `The Glorious Glasgow Haskell Compilation System, version 9.2.3`

[2022-07-06 20:16] asarkar opened #126 "Fails to install on Mac M1"
[code]

[2022-09-26 22:17] milloni opened #127 "Build failure on GHC 9.4"
Hi, just wondering if anyone's working on a GHC 9.4 port? Cc: @zliu41 @alanz

[2022-10-02 19:16] alanz commented on #127
I just published ghc-exactprint1.6, which supports GHC 9.4.1 and 9.4.2

[2022-10-16 13:26] July541 commented on #127
I have a rough [branch](https://github.com/July541/apply-refact/tree/ghc-9.4) working on this, tests look fine.

https://github.com/July541/apply-refact/actions/runs/3259599078

[2022-11-15 17:37] brandon-leapyear opened #129 "Replacing return with pure unindents"
Input file:
[code]
After `hlint --refactor --with-group=future`:
[code]
I'm using `apply-refact-0.9.3.0` because our codebase is still on GHC 9.0, but I don't see any PRs fixing this in 0.10

[2022-11-19 04:32] juhp commented on #127
Disabling for ghc-9.4 Stackage Nightly:
[code]